**/.git/**
**/node_modules/**
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/public/**
src/**
*.ts
*.map
esbuild.js
tsconfig.json
.editorconfig
.prettierrc*
.eslintrc*
**/*.test.*
**/.github/**
.vscode/**
media/icon.svg
